.BackGroundBlog {
    background: url(../../assets/blog.jpg) no-repeat;
    width: 1000px;
    height: 90vh;
    margin: 0 auto;
    background-size: 100%;
    overflow: auto;
}
.blog {
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
}
.Posts {
    width: 500px;
    border: 1px solid black;
    background: rgba(101, 190, 221, 0.9);
    margin: 10px;
    padding: 20px 0 20px 20px;
}
.title {
    padding-top: 20px;
}
span {
    font-weight: bold;
}
.titlePosts {
    padding-top: 15px;
}