.InputForm {
    width: 500px;
    height: 250px;
    margin: 10px auto;
    background: #6b9ac9;
    position: relative;
    padding-top: 10px;
}

input {
    width: 480px;
    margin: 10px 5px;
    padding: 5px 0 5px 5px;
}

textarea {
    width: 480px;
    height: 90px;
    margin: 10px 5px;
    padding: 5px 0 0 5px;
    resize: none;
}

label {
    padding-left: 10px;
}