.Button {
    background-color: #aa060a;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 12px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success, .Danger {
    margin-top: 40px;
}

.Add {
    position: absolute;
    top: 60%;
    right: 32%;
}
