.blogAbout {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background: url('../../assets/blogabout.jpg') 50% 50% no-repeat;
    background-size: 60%;
}
.about {
    width: 1000px;
    margin: 0 auto;
    background: #4ac924;
    padding: 10px;
}