.homepage {
    width: 1000px;
    height: 50px;
    background: #aa060a;
    margin: 0 auto;
    text-align: right;
    font-weight: bold;
}
a:first-child {
    float: left;
    font-family: 'Indie Flower', cursive;
}
a {
     margin: 0 25px;
     text-transform: uppercase;
     line-height: 50px;
     color: #fff;
     text-decoration: none;
 }