.post {
    width: 500px;
    margin: 0 auto;
    background: rgba(101, 190, 221, 0.9);
    padding: 40px 20px 10px 20px;
}
.bgpost {
    background: url('../../assets/blogTitle.png') 50% 0 no-repeat;
    height: 75vh;
    padding-top: 100px;
}