.contacts {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background: #444;
    color: #fff;
}
strong {
    padding: 10px;
    display: block;
}
p {
    margin: 0;
}
.aboutme {
    float: left;
    width: 400px;
    margin-left: 50px;
}
.contact {
    float: right;
    margin-right: 50px;
    width: 400px;
}